body {
  font-size: 16px;
}

#logo-img {
  width: 100px;
  height: 100px;
}

#user-info {

}

#user-avatar {
  height: 100px;
  width: 100px;
  margin: 0 20px 20px 0;
}

.wall-post #user-avatar {
  height: 70px;
  width: 70px;
  margin: 0;
}

.wall-post > div {
  padding: 0;
}
